@charset "UTF-8";
/*
**  Colophon
**  Design/Build:Hofstede
**  Copyright 2014

**  Neuzeit S
**  by Wilhelm C. Pischner
**  http://www.linotype.com/

**  01. Resets
**  02. Defaults
**  03. Typography
**  04. Grid
**  05. Menus & Lists
**  06. Forms & Tables
**  07. Template Specific Styles
**  08. CSS Animations
*/
/*
**
****  01. Resets
**
*/
/* line 2, ../scss/_reset.scss */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 14, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/*
**
****  02. Defaults
**
*/
/* line 37, ../scss/_global.scss */
.is-cf:before,
.is-cf:after {
  content: '';
  display: table;
}

/* line 42, ../scss/_global.scss */
.is-cf:after {
  clear: both;
}

/* line 43, ../scss/_global.scss */
.is-cf {
  *zoom: 1;
}

/* line 54, ../scss/main.scss */
html {
  font-family: "Grotesque MT W01", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 60, ../scss/main.scss */
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-size: 100%;
  background: #f7f7f7;
}
/* line 67, ../scss/main.scss */
body.interview
body.location {
  display: none;
}

/* line 74, ../scss/main.scss */
.ringbinder-top {
  position: fixed;
  width: 18px;
  height: 38px;
  top: 20%;
  margin-left: 1.5em;
  z-index: 500;
}

/* line 83, ../scss/main.scss */
.ringbinder-bottom {
  position: fixed;
  width: 18px;
  height: 38px;
  bottom: 20%;
  margin-left: 1.5em;
  z-index: 500;
}

/* line 92, ../scss/main.scss */
a {
  text-decoration: none;
  color: #272727;
}
/* line 96, ../scss/main.scss */
a:hover {
  color: #39ff14;
}

/* line 101, ../scss/main.scss */
.left {
  max-width: 55%;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
@media only screen and (max-width: 480px) {
  /* line 101, ../scss/main.scss */
  .left {
    display: none;
  }
}

/* line 119, ../scss/main.scss */
.home-left {
  width: 55%;
  height: 100%;
  background: white;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 2.5rem;
  padding-left: 12rem;
  z-index: 1;
}
/* line 131, ../scss/main.scss */
.home-left p {
  font-size: 2.1rem;
  line-height: 1.35;
  width: 90%;
}
/* line 137, ../scss/main.scss */
.home-left p:first-of-type {
  margin-top: 7.5rem;
}

/* line 143, ../scss/main.scss */
.right {
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 2rem;
  display: none;
}
/* line 151, ../scss/main.scss */
.right .inner {
  margin-top: 25rem;
}
/* line 154, ../scss/main.scss */
.right .inner li {
  font-family: "205-MaaxMono";
  color: #ccc;
  padding-left: 2rem;
  padding-bottom: 0.25rem;
}
/* line 159, ../scss/main.scss */
.right .inner li:before {
  content: '–';
  margin-right: 0.75rem;
}
/* line 164, ../scss/main.scss */
.right .inner li:first-of-type {
  text-transform: uppercase;
  padding-bottom: 1rem;
}
/* line 167, ../scss/main.scss */
.right .inner li:first-of-type:before {
  content: '';
  margin-right: 0;
}
/* line 173, ../scss/main.scss */
.right .inner li a {
  color: #ccc;
}
@media only screen and (max-width: 480px) {
  /* line 143, ../scss/main.scss */
  .right {
    width: 100%;
    left: 0;
    padding: 0 1em;
  }
}

/* line 187, ../scss/main.scss */
.home-right {
  width: 40%;
  max-width: 690px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
/* line 194, ../scss/main.scss */
.home-right figure {
  width: 200%;
  overflow: hidden;
}
/* line 197, ../scss/main.scss */
.home-right figure img {
  display: block;
  max-width: 100%;
  margin-left: -25%;
}
/* line 205, ../scss/main.scss */
.home-right .intro {
  width: 65%;
  margin-top: 6.5em;
}

/* line 211, ../scss/main.scss */
.main-wrap {
  width: 100%;
  max-width: 1800px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

/* line 221, ../scss/main.scss */
.container {
  max-width: 1800px;
  outline: 2px solid red;
}

/* line 226, ../scss/main.scss */
nav {
  width: 60%;
  margin-left: 30%;
  margin-top: 2.5em;
  float: left;
}
/* line 231, ../scss/main.scss */
nav li {
  font-size: 24px;
  line-height: 32px;
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
  padding: 0 1em 0.25em 0;
  list-style-type: none;
  text-indent: 3em;
}
/* line 237, ../scss/main.scss */
nav li small {
  padding-left: 0.5em;
  display: inline-block;
  text-indent: 0;
}
/* line 242, ../scss/main.scss */
nav li a {
  color: white;
}
/* line 244, ../scss/main.scss */
nav li a:hover, nav li a.active {
  color: white;
  border-bottom: 2px solid white;
}

/* line 253, ../scss/main.scss */
header {
  max-width: 1800px;
  height: 4em;
  overflow: hidden;
  z-index: 10;
  margin: 1.75em 0 0;
}
@media only screen and (max-width: 480px) {
  /* line 253, ../scss/main.scss */
  header {
    margin-top: 0.25em;
    height: 2em;
  }
}
/* line 267, ../scss/main.scss */
header .logo {
  width: 50%;
  float: left;
  position: relative;
  z-index: 200;
}
/* line 274, ../scss/main.scss */
header .location {
  width: 50%;
  float: left;
}

/* line 284, ../scss/main.scss */
.cover {
  position: fixed;
  top: 1.75em;
  left: 1.25em;
  z-index: 600;
}

/* line 291, ../scss/main.scss */
.index-trigger {
  position: fixed;
  width: 120px;
  top: 45%;
  left: -1.5em;
  z-index: 600;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
/* line 300, ../scss/main.scss */
.index-trigger a {
  font-siuze: 1.6rem;
  border-bottom: 2px solid #272727;
  padding-bottom: 0.25em;
}
/* line 304, ../scss/main.scss */
.index-trigger a.active {
  color: white;
  border-bottom: 2px solid white;
  z-index: 200;
}
/* line 309, ../scss/main.scss */
.index-trigger a:hover {
  cursor: pointer;
}

/* line 315, ../scss/main.scss */
main {
  margin-left: 4.5em;
}

/* line 320, ../scss/main.scss */
.feature {
  position: relative;
  margin-top: -8.5em;
  z-index: -1;
  margin-right: 2.5em;
}
/* line 325, ../scss/main.scss */
.feature img {
  max-width: 100%;
}

/* line 330, ../scss/main.scss */
.schrift-text {
  width: 55%;
  max-width: 450px;
  margin: 1.75em 0 0 40%;
  float: left;
}

/* line 337, ../scss/main.scss */
.content-list {
  position: relative;
  width: 45%;
  float: left;
  margin-top: 5rem;
}
/* line 350, ../scss/main.scss */
.content-list + .client-list {
  margin-right: 0;
}
/* line 354, ../scss/main.scss */
.content-list ul li {
  font-size: 2.4rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid;
  margin: 0;
}
/* line 360, ../scss/main.scss */
.content-list ul li small {
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
}
/* line 365, ../scss/main.scss */
.content-list ul li a:hover {
  color: #39ff14;
}
/* line 367, ../scss/main.scss */
.content-list ul li a:hover ~ sup {
  color: #39ff14;
}
/* line 370, ../scss/main.scss */
.content-list ul li a:hover ~ .intro-image {
  opacity: 1;
  z-index: 10000;
}
/* line 376, ../scss/main.scss */
.content-list ul li:hover ~ .intro-image {
  opacity: 1;
}
/* line 378, ../scss/main.scss */
.content-list ul li:hover ~ .intro-image img {
  z-index: 10000;
}
/* line 383, ../scss/main.scss */
.content-list ul li:last-of-type:after {
  content: ' ';
}
@media only screen and (max-width: 1024px) {
  /* line 337, ../scss/main.scss */
  .content-list {
    width: 60%;
  }
}

/* line 408, ../scss/main.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 412, ../scss/main.scss */
.interview-wrap {
  margin: 0;
  padding: 0 3em 0 12rem;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: white;
}
@media only screen and (max-width: 480px) {
  /* line 412, ../scss/main.scss */
  .interview-wrap {
    width: 100%;
    max-width: 340px;
    margin-top: 1em;
    left: 0;
  }
}
/* line 428, ../scss/main.scss */
.interview-wrap .text {
  width: 95%;
}
/* line 431, ../scss/main.scss */
.interview-wrap figure {
  width: 100%;
  max-width: 540px;
  margin: 1em 0 1em 6em;
  z-index: 10;
  left: 0;
}
/* line 438, ../scss/main.scss */
.interview-wrap figure img {
  max-width: 100%;
}

/* line 444, ../scss/main.scss */
.fade-out {
  opacity: 0.1;
  -webkit-transition: opacity 400ms ease-in-out;
  -moz-transition: opacity 400ms ease-in-out;
  -ms-transition: opacity 400ms ease-in-out;
  -o-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

/* line 453, ../scss/main.scss */
.intro-image {
  position: absolute;
  z-index: 400;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 17.5%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 400ms ease-in-out;
  -moz-transition: opacity 400ms ease-in-out;
  -ms-transition: opacity 400ms ease-in-out;
  -o-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}
/* line 474, ../scss/main.scss */
.intro-image img {
  max-width: 100%;
}

/* line 479, ../scss/main.scss */
footer {
  background: white;
  height: auto;
  overflow: hidden;
  margin: 0 1em 1em;
  opacity: 0;
}
@media only screen and (max-width: 1024px) {
  /* line 479, ../scss/main.scss */
  footer {
    padding: 0 2em;
  }
}
@media only screen and (max-width: 480px) {
  /* line 479, ../scss/main.scss */
  footer {
    padding: 0 1em;
  }
}
/* line 493, ../scss/main.scss */
footer .footer-inner {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 4.5em;
}
@media only screen and (max-width: 1024px) {
  /* line 493, ../scss/main.scss */
  footer .footer-inner {
    padding-bottom: 2.5em;
  }
}

/*
**
****  03. Typography
**
*/
@font-face {
  font-family: 'Agipo Regular';
  src: url("../../fonts/agipo_regular.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/agipo_regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/agipo_regular.woff") format("woff"), url("../../fonts/agipo_regular.ttf") format("truetype"), url("../../fonts/agipo_regular.svg#19bbb355e0bad7b3782c5fb2ed0e0f5a") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: '205-MaaxMono';
  src: url("../../fonts/205-maaxmono-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/205-maaxmono-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/205-maaxmono-webfont.woff") format("woff"), url("../../fonts/205-maaxmono-webfont.ttf") format("truetype"), url("../../fonts/205-maaxmono-webfont.svg#19bbb355e0bad7b3782c5fb2ed0e0f5a") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
/* line 24, ../scss/_type.scss */
html {
  font-size: 62.5%;
}

/* line 29, ../scss/_type.scss */
body {
  font-family: "Agipo Regular";
  font-size: 1.6rem;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "ss01";
  -ms-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  -o-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
  letter-spacing: 0.025em;
}

/* line 42, ../scss/_type.scss */
h1, h2 {
  font-size: 2.4rem;
  text-align: left;
  font-weight: normal;
}

/* line 54, ../scss/_type.scss */
.logo h1, .location h1 {
  text-align: left;
}
/* line 56, ../scss/_type.scss */
.logo h1 a, .location h1 a {
  color: white;
}
/* line 62, ../scss/_type.scss */
.logo.active h1 a, .location.active h1 a {
  color: white;
  position: relative;
  z-index: 1000;
}

/* line 71, ../scss/_type.scss */
p {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #272727;
  text-indent: 3em;
}
/* line 75, ../scss/_type.scss */
p:first-of-type {
  text-indent: 0;
}
/* line 78, ../scss/_type.scss */
p:last-of-type {
  padding-bottom: 1em;
}

/* line 84, ../scss/_type.scss */
header a {
  text-decoration: none;
  color: #272727;
}

/* line 91, ../scss/_type.scss */
.full-name h1 {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* line 98, ../scss/_type.scss */
.bio-cv .bio-text h1 {
  font-size: 24px;
  line-height: 36px;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: left;
  margin: 0 0 5.2em 0;
  border-bottom: none;
  color: white;
}
/* line 106, ../scss/_type.scss */
.bio-cv .bio-text p {
  font-size: 24px;
  line-height: 32px;
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
}
/* line 110, ../scss/_type.scss */
.bio-cv .bio-text p + h1 {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1.5em 0 0.5em 3em;
  text-indent: 0;
  color: white;
}
/* line 117, ../scss/_type.scss */
.bio-cv .bio-text figure + h1 {
  margin-bottom: 0.5em;
}

/* line 124, ../scss/_type.scss */
.bio p {
  font-size: 1em !important;
  line-height: 1.35 !important;
  margin-top: 1.5em;
  color: white;
}

/* line 132, ../scss/_type.scss */
.details {
  margin-top: 1.5em;
}
/* line 134, ../scss/_type.scss */
.details li {
  font-size: 16px;
  line-height: 21.6px;
  font-size: 1rem;
  line-height: 1.35rem;
  color: white;
}
/* line 138, ../scss/_type.scss */
.details li a {
  color: white;
  border-bottom: 2px solid white;
}

/* line 146, ../scss/_type.scss */
.intro p {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* line 151, ../scss/_type.scss */
.schrift-text h2 {
  font-size: 20px;
  line-height: 30px;
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-indent: 0;
  color: white;
}

/* line 159, ../scss/_type.scss */
.interview h1 {
  font-size: 2.7rem;
  margin: 7.5rem 0 0 0;
  text-align: left;
  text-indent: 0;
  clear: left;
  color: #272727;
}
@media only screen and (max-width: 480px) {
  /* line 159, ../scss/_type.scss */
  .interview h1 {
    font-size: 24.8px;
    line-height: 32px;
    font-size: 1.55rem;
    line-height: 2rem;
    margin-top: 3.5em;
  }
}
/* line 172, ../scss/_type.scss */
.interview h2 {
  font-size: 2.7rem;
  text-indent: 0;
}
/* line 175, ../scss/_type.scss */
.interview h2:last-of-type {
  margin: 0 0 5em 0;
}
@media only screen and (max-width: 480px) {
  /* line 172, ../scss/_type.scss */
  .interview h2 {
    font-size: 24.8px;
    line-height: 32px;
    font-size: 1.55rem;
    line-height: 2rem;
  }
}
/* line 183, ../scss/_type.scss */
.interview p, .interview figure + p {
  font-size: 2rem;
  line-height: 1.35;
  text-indent: 5em;
  color: #272727;
  position: relative;
  letter-spacing: 0.015em;
}
/* line 190, ../scss/_type.scss */
.interview p:nth-child(even), .interview figure + p:nth-child(even) {
  color: #999;
  text-indent: 0;
  margin-left: 5em;
}
/* line 196, ../scss/_type.scss */
.interview p a, .interview figure + p a {
  border-bottom: 2px solid #272727;
}
/* line 198, ../scss/_type.scss */
.interview p a:hover, .interview figure + p a:hover {
  color: #FFCC00;
  border-bottom: 2px solid #FFCC00;
}
/* line 203, ../scss/_type.scss */
.interview p + h1, .interview figure + p + h1 {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1em 0 0.5em 3em;
  border-bottom: 2px solid #272727;
  display: inline-block;
  color: #272727;
}
/* line 211, ../scss/_type.scss */
.interview li {
  margin-left: 3em;
}

/* line 219, ../scss/_type.scss */
footer ul li a {
  color: #272727;
  border-bottom: 2px solid #272727;
  text-decoration: none;
}
/* line 223, ../scss/_type.scss */
footer ul li a:hover {
  color: blue;
  border-bottom: 2px solid blue;
}

/* line 232, ../scss/_type.scss */
small {
  font-family: "205-MaaxMono";
  font-size: 1.5rem;
  display: block;
}

/* line 238, ../scss/_type.scss */
sup {
  font-size: 13.6px;
  line-height: 20.4px;
  font-size: 0.85rem;
  line-height: 1.275rem;
}

/* line 241, ../scss/_type.scss */
figcaption {
  font-family: "205-MaaxMono";
  font-size: 13.6px;
  line-height: 20.4px;
  font-size: 0.85rem;
  line-height: 1.275rem;
  text-align: center;
  margin-top: 0.5em;
}

/* line 247, ../scss/_type.scss */
.initials {
  font-family: "205-MaaxMono";
  font-size: 1.5rem;
  margin-top: -1rem;
  margin-right: 10rem;
  margin-left: -10rem;
  vertical-align: baseline;
}

/* line 256, ../scss/_type.scss */
.author {
  font-family: "205-MaaxMono";
  font-size: 1.5rem;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 20em;
  color: #666;
}
@media only screen and (max-width: 480px) {
  /* line 256, ../scss/_type.scss */
  .author {
    margin-left: 6em;
  }
}

/* line 270, ../scss/_type.scss */
.interview header small {
  display: inline-block;
}

/*
**
****  03. Grid
**
*/
/*
**
****  07. Template Specific Styles
**
*/
/* line 538, ../scss/main.scss */
.works figure {
  width: 12.5%;
  max-width: 200px;
  float: left;
  margin: 3% 3% 0 0;
  min-height: 255px;
  -webkit-transition: width 900ms ease-in-out;
  -moz-transition: width 900ms ease-in-out;
  -ms-transition: width 900ms ease-in-out;
  -o-transition: width 900ms ease-in-out;
  transition: width 900ms ease-in-out;
}
/* line 549, ../scss/main.scss */
.works figure.enlarge {
  width: 50%;
  max-width: 575px;
}
/* line 557, ../scss/main.scss */
.works figure img {
  max-width: 100%;
}

/* line 564, ../scss/main.scss */
.about {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 3.5em 0 0 2.5em;
  max-width: 280px;
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

/* line 579, ../scss/main.scss */
.bio-cv {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  background: black;
  overflow: hidden;
  z-index: 100;
  display: none;
  -webkit-transition: display 800ms ease;
  -moz-transition: display 800ms ease;
  -ms-transition: display 800ms ease;
  -o-transition: display 800ms ease;
  transition: display 800ms ease;
}
/* line 596, ../scss/main.scss */
.bio-cv .inner {
  width: 100%;
  max-width: 1890px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
/* line 604, ../scss/main.scss */
.bio-cv .inner .bio-text {
  position: relative;
  overflow: hidden;
  width: 85%;
  max-width: 700px;
  margin: 1.75em 0 0 6%;
}
@media only screen and (max-width: 1400px) {
  /* line 604, ../scss/main.scss */
  .bio-cv .inner .bio-text {
    margin-left: 12.5%;
  }
}
/* line 616, ../scss/main.scss */
.bio-cv.show {
  display: block;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 400ms;
  animation-name: fadeIn;
  animation-duration: 400ms;
}
/* line 623, ../scss/main.scss */
.bio-cv .bio {
  position: relative;
  width: 57%;
  float: left;
  margin-right: 6%;
}
/* line 629, ../scss/main.scss */
.bio-cv .details {
  position: relative;
  width: 37%;
  float: left;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
/* Home */
